.cards {

}

.cards__list {
    margin-bottom: 10px;
}

.cards__item {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.cards__item:last-child {
    margin: 0;
}

.cards__item__text {
    text-decoration: none;
    font-size: 14px;
    color: #161616;
    line-height: 1.43;
    font-weight: 600;
    transition: 0.3s ease;
}

.cards__item__text:hover {
    color: #008ccc;
}

.cards__item__data {
    color: #212121;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.cards__item__img {
    width: 92px;
    height: 69px;
    object-fit: cover;
}