.header__top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 145px;
    padding-right: 145px;
}

.header__top__link {
}

.header__top__logo {
    width: 236px;
    height: 82px;
    padding: 10px 0px;
}